[submodule ".registry"]
	path = .registry
	url = https://github.com/gflab/gflab.r-universe.dev
	branch = HEAD
[submodule "clinstats"]
	path = clinstats
	url = https://github.com/gflab/clinstats
	branch = main
[submodule "gfplot"]
	path = gfplot
	url = https://github.com/gflab/gfplot
	branch = master
